.footer-main {
  padding: 2% 6%;
  background-color: light;
}
.footer-table-main {
  /* background-color: red; */
  /* margin-top: 10px; */
  width: 60%;
}
.footer-table {
  width: 100%;
}
td {
  padding: 5px;
}
td a {
  text-decoration: none;
  color: black;
}
.ft-ul {
  text-decoration: none;
}
.Footer-container {
  margin-top: 10px;
  display: flex;
}
.chatbot-main {
  width: 40%;
  text-align: center;
}
@media (max-width: 768px) {
  .Footer-container {
    display: inline;
  }
  .footer-table-main {
    width: 100%;
  }
  .chatbot-main {
    width: 100%;
  }
}
.wh-color,
.wh-color a {
  color: white;
}
.drk-color {
  color: black;
}
.footer-bg {
  background: black;
}
